.w3-sidebar a {font-family: "Roboto", sans-serif}
a{
  color:black;
}
.wrapper{
position: relative;
}
.wrapper .countCart{
position: absolute;
top: -2px;
right: -2px; 
}
#countCart{
  background-color:red;
}
body{
  margin-top:70px;
}