.raleway {
    font-family: 'Raleway';
}

@font-face {
    font-family: 'battalion';
    src: url('/font/Battalion.ttf');
}

.battalion {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 60%;
    font: inherit;
    font-family: battalion;
    vertical-align: baseline
}

.brandcolor {
    background-color: rgba(86, 156, 172, 0.87);
}

.notificationHeader {
    font-size: 22px;
    margin-top: 30px;
}

.actionicons {
    margin-right: 5px;
}

.toptext {
    background-color: rgba(86, 156, 172, 0.87);
    letter-spacing: 5px;
}

.icon-bar {
    background-color: black;
}

.navbar-toggle {
    float: left;
    margin-left: 5px;
}

.baricons {
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    width: 35px;
    height: 35px;
}

.favoriteicon {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.locationicon {
    float: left;
    width: 35px;
    height: 35px;
}

.wrapper {
    position: relative;
}

.wrapper .countCart {
    position: absolute;
    top: 5px;
    right: 6px;
}

.countCart,
.countmessage {
    background-color: red;
}

.wrapper .countmessage {
    position: absolute;
    top: 5px;
    right: 63px;
}

.navbar {
    position: relative;
}

.toplogo {
    float: left;
    width: 75px;
    height: 55px;
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
    padding-bottom: 5px;
}

.chat_list {
    margin: 0;
    padding: 18px 16px 10px;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
    border-bottom: 1px solid #ddd;
}

.chat_ib h3 {
    font-size: 20px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h3 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 16px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
    text-overflow: ellipsis;
}

@media (min-width:768px) {
    .baricons {
        width: 25px;
        height: 25px;
    }
    .toptext {
        letter-spacing: 10px;
    }
    .wrapper .countmessage {
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .toplogo {
        width: 120px;
        height: 120px;
        left: 48%
    }
    .navbar {
        padding-bottom: 10px;
    }
    .wrapper {
        margin-top: 70px;
    }
    .wheretobuy {
        margin-top: 70px;
    }
    .favoriteicon {
        float: right;
        margin: 0px;
        margin-right: 10px;
        width: 25px;
        height: 25px;
        margin-top: 67px;
    }
    .secondbar {
        position: relative;
        left: 30%;
        width: 70%;
    }
    .secondBarForAuth {
        left: 20%;
        width: 80%;
    }
    .login {
        float: right;
        margin-top: 77px;
    }
}