.fa-plus-square,
.fa-minus-square {
    color: blue;
}

button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    display: inline-block;
}

.inline {
    display: inline-block;
}

.EGP {
    margin-left: 3px;
    font-size: 12px;
    display: inline;
}

.row {
    margin: 3px;
}

.price:after {
    content: ' EGP';
    font-size: 11px;
}

.checkoutButton {
    font-size: 18px;
    color: white;
    background-color: rgba(86, 156, 172, 0.87);
    width: 100%;
    margin-bottom: 20px;
}

.w3-card {
    padding: 8px;
}

.invoice {
    font-size: 18px;
}

.footer {
    margin-top: 200px;
}