.secondbar .navbar-nav>li {
    float: right;
}

.secondbar .navbar-nav {
    direction: rtl;
}

.nav>li>a {
    font-size: 18px;
}

.reverse-flex {
    flex-direction: row-reverse;
}

.text-align-right {
    direction: rtl;
    text-align: right;
}

th {
    text-align: right;
}

.left-details {
    padding-right: 35px;
}
