.pagination>li>a {
    background-color: white;
    color: rgba(86, 156, 172);
}

.pagination>.active>span {
    color: white;
    background-color: rgba(86, 156, 172) !Important;
}

.actionIcons {
    color: white;
}