.pagination>li>a {
    background-color: white;
    color: rgba(86, 156, 172);
}

.pagination>.active>span {
    color: white;
    background-color: rgba(86, 156, 172) !Important;
}

.actionIcons {
    color: white;
}

@media (max-width:768px) {
    .carousel-inner {
        max-height: 500px;
    }

    .carousel-inner>.item {
        height: 500px;
    }
}
