    .shopnowBtn {
        font-size: 8px;
        padding: 2px 3px;
        color: black;
    }
    
    .subscribe {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
    .subscribe .form-control,
    .subscribe .btn {
        border-radius: 0px;
        height: 25px;
    }
    
    .subscribe .btn {
        margin-left: -4px;
        padding: 1px 12px;
    }
    
    .slogo {
        margin-top: 80px;
        width: 300px;
    }
    
    .shopCollection {
        margin-top: 60px;
    }
    
    .shopCollection .row {
        text-align: center;
    }
    
    .shopCollection .imageDiv {
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        text-align: center;
        color: white;
    }
    
    .shopCollection .imageDiv p {
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .carousel-caption {
        bottom: 0;
        left: 70%;
    }
    
    .productImg {
        border-style: solid;
        border-color: rgba(86, 156, 172, 0.87);
        height: 200px;
    }
    
    .productImg>img {
        min-height: 80%;
    }
    
    .btnWeight {
        font-weight: 900;
    }
    
    .addtowishlist {
        font-weight: 1000;
        margin-top: 3px;
        font-size: 12px;
    }
    
    .product {
        padding-bottom: 40px;
    }
    
    .carousel-control .fa {
        padding-top: 100%;
    }
    
    .topCarousel .carousel-indicators {
        list-style: none;
    }
    
    .topCarousel .carousel-indicators li {
        width: 20px;
        height: 20px;
        position: relative;
        border: none;
        opacity: 0.5;
        bottom: 0px;
    }
    
    .topCarousel .carousel-indicators li.active {
        width: 30px;
        height: 30px;
        position: relative;
        border: none;
        background: none;
        opacity: 1;
        bottom: 0px;
    }
    
    .topCarousel .carousel-indicators img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .favoritesSection .container-fluid {
        margin-top: 50px;
        margin-bottom: 100px;
        height: 300px;
        position: relative;
    }
    
    .favoritesSection {
        margin-top: 300px;
    }
    
    .favoritesSection .pattern {
        width: 200px;
        height: 100%;
    }
    
    .favoritesSection .first {
        position: absolute;
        width: 28%;
        height: 58%;
    }
    
    .favoritesSection .second {
        position: absolute;
        width: 28%;
        right: 41%;
        height: 58%;
    }
    
    .favoritesSection .fourth {
        position: absolute;
        width: 57%;
        height: 40%;
        bottom: 0px;
    }
    
    .favoritesSection .third {
        position: absolute;
        right: 0px;
        width: 40%;
        height: 100%;
        /* margin-left: -25px; */
    }
    
    .celebritiesSection .col-sm-3 {
        width: 200px;
        margin-left: 10px;
        border-style: solid;
        border-color: rgba(86, 156, 172, 0.87);
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    
    .celebritiesSection .col-sm-3 img {
        width: 100%;
        height: 200px;
    }
    
    .celebritiesSection .col-sm-3 p {
        margin: 0;
        line-height: 2em;
        font-size: 12px;
    }
    
    .celebritiesSection,
    .favoritesSection {
        background-image: url("/images/pattern2.png");
        background-repeat: no-repeat;
    }
    
    .celebritiesSection {
        margin-top: 60px;
    }
    
    @media (max-width:440px) {
        .celebritiesSection .col-sm-3 {
            width: 150px;
        }
        .celebritiesSection .col-sm-3 img {
            height: 150px;
        }
    }
    
    @media (min-width: 900px) {
        .craftsmanship .CraftsmanshipImg {
            margin-left: 10%;
            height: 350px;
            width: 270px;
            position: absolute;
            bottom: -70px;
            padding-right: 10px;
        }
        .celebritiesSection .row {
            margin-left: 12%;
        }
    }
    
    @media (min-width:768px) {
        .favoritesSection .container-fluid {
            width: 70%;
            height: 500px;
        }
        .subscribe .form-control {
            width: 500px;
        }
        .shopCollection .imageDiv img {
            width: 200px;
            height: 200px;
        }
        .celebritiesSection,
        .favoritesSection {
            background-size: 30% 100%;
        }
        .craftsmanship .pattern {
            margin-top: -100px;
            top: 0px;
            height: 400px;
        }
        .craftsmanship .col-xs-9 {
            margin-top: auto;
        }
        .craftsmanship {
            margin-bottom: 70px;
            margin-top: 80px;
        }
        .topCarousel .carousel-indicators li {
            width: 30px;
            height: 30px;
        }
        .topCarousel .carousel-indicators li.active {
            width: 50px;
            height: 50px;
        }
        .shopnowBtn {
            font-size: 18px;
            padding: 5px 8px;
            color: black;
        }
        .productImg {
            border-style: solid;
            border-color: rgba(86, 156, 172, 0.87);
            height: 300px;
        }
    }
    
    @media only screen and (min-width:768px) and (max-width:1000px) {
        .celebritiesSection .row {
            margin-left: 5%;
        }
        .craftsmanship .CraftsmanshipImg {
            margin-left: 0px;
            height: 350px;
            width: 270px;
            position: absolute;
            display: inline-block;
            padding-right: 5px;
        }
    }
    
    @media (max-width:768px) {
        .carousel-control .fa {
            padding-top: 150%;
        }
        .carousel .item {
            height: 250px;
        }
        .item img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 250px;
        }
        .titles {
            font-size: 18px;
        }
        .subscribe .form-control {
            width: 200px;
            display: inline-block;
        }
        .shopCollection .imageDiv img {
            width: 140px;
            height: 150px;
        }
        .craftsmanship .CraftsmanshipImg {
            margin-left: 0px;
            height: 350px;
            width: 100%;
            min-width: 250px;
            padding-right: 5px;
            position: absolute;
            right: 0px;
        }
        .craftsmanship .img {
            margin-top: -40%;
        }
        .craftsmanship .col-xs-9 {
            position: relative;
        }
        .craftsmanship .col-xs-9 p {
            padding-bottom: 160px;
        }
        .celebritiesSection,
        .favoritesSection {
            background-size: 70% 100%;
        }
    }
    
    @media only screen and (min-width:490px) and (max-width:768px) {
        .celebritiesSection .row {
            margin-left: 5%;
        }
        .craftsmanship .img {
            margin-top: -20%;
        }
    }
    
    @media only screen and (min-width:300px) and (max-width:374px) {
        .shopCollection .row {
            margin-left: 2%;
        }
    }
    
    @media only screen and (min-width:300px) and (max-width:590px) {
        .favoritesSection .first {
            width: 27%;
        }
        .favoritesSection .second {
            width: 28%;
        }
        .favoritesSection .fourth {
            width: 54%;
        }
    }
    
    @media only screen and (min-width:360px) and (max-width:440px) {
        .celebritiesSection .row {
            margin-left: 5%;
        }
    }
    
    @media only screen and (min-width:530px) and (max-width:691px) {
        .celebritiesSection .row {
            margin-left: 15%;
        }
    }
    
    @media only screen and (min-width:430px) and (max-width:485px) {
        .shopCollection .row {
            margin-left: 15%;
        }
    }
    
    @media only screen and (min-width:570px) and (max-width:639px) {
        .shopCollection .row {
            margin-left: 15%;
        }
    }