.carousel-inner>.item>img {
    object-fit: cover;
}

.shopnowBtn {
    font-size: 8px;
    padding: 2px 3px;
    color: black;
}

.carousel-caption {
    bottom: 0;
    left: 70%;
}

.productImg {
    border-style: solid;
    border-color: rgba(86, 156, 172, 0.87);
    height: 200px;
}

.productImg>img {
    min-height: 80%;
}

.addtocart {
    font-weight: 900;
}

.addtowishlist {
    font-weight: 1000;
    margin-top: 3px;
    font-size: 12px;
}

@media (min-width:768px) {
    .shopnowBtn {
        font-size: 18px;
        padding: 5px 8px;
        color: black;
    }
    .productImg {
        border-style: solid;
        border-color: rgba(86, 156, 172, 0.87);
        height: 300px;
    }
}